.loading-gui-box {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 900;

    .backgroundTM {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .backgroundTM>div {
        color: rgba(255, 255, 255, 0.7);
    }


    .containerBox {
        position: relative;
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        .loading-container {
            box-sizing: border-box;
            position: absolute;
            width: 100%;
            top: 50%;
        }

        .loading-box {
            padding: 20px;
            text-align: center;
        }

        .k-line {
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 12px;
            margin: 2px;
            background-color: #4b9cdb;
        }

        .k-line11-1 {
            animation: k-loadingP 1s infinite
        }

        .k-line11-2 {
            animation: k-loadingP 1s infinite;
            animation-delay: .15s
        }

        .k-line11-3 {
            animation: k-loadingP 1s infinite;
            animation-delay: .30s
        }

        .k-line11-4 {
            animation: k-loadingP 1s infinite;
            animation-delay: .45s
        }

        .k-line11-5 {
            animation: k-loadingP 1s infinite;
            animation-delay: .60s
        }


        @keyframes k-loadingP {
            0% {
                transform: translateY(0)
            }

            35% {
                transform: translateY(0);
                opacity: .3
            }

            50% {
                transform: translateY(-10px);
                opacity: .8
            }

            70% {
                transform: translateY(3px);
                opacity: .8
            }

            85% {
                transform: translateY(-3px)
            }
        }

    }

}